p {
    background-color: yellow;
    padding: 10px 20px 5px 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    display: inline-block;
    margin-left: 10px;
}

.middle {
    background-color: #ff0062;
}